<!doctype html>
<html lang="ar" dir="rtl" data-bs-theme="auto">

<head>
  <script src="/assets/js/color-modes.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.112.5">
  <title>
    @ViewData["Title"]
  </title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel-rtl/">

  <link href="/assets/dist/css/bootstrap.rtl.min.css" rel="stylesheet">
  <link href="/css/site.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/carousel.rtl.css" rel="stylesheet">
</head>

<body>

  <partial name="_Settings" />
  <partial name="_Menu" />
  <main>
    @RenderBody()
    <partial name="_Footer" />
  </main>
  <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
