<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> خبر آنلاین</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="تبديل التنقل">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">خانه </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"> اخبار </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/abouteus"> درباره ما</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#"> تماس با ما</a>
          </li>
          @if (User.Identity.IsAuthenticated)
          {
            <li class="nav-item">
              <a class="nav-link " href="/Admin/Default/Index"> پنل کاربری </a>
            </li>
          }
          else
          {
            <li class="nav-item">
              <a class="nav-link " asp-action="Login" asp-controller="Account"> ورود </a>
            </li>
          }

        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="متن خود را وارد نمائید..." aria-label="بحث">
          <button class="btn btn-outline-success" type="submit">جستجو</button>
        </form>
      </div>
    </div>
  </nav>
</header>