@model User
@{
    ViewData["Title"] = " افزودن کاربر جدید";
}
<div class="py-5 text-center">
    <h2>
        @ViewData["Title"]
    </h2>
    <a asp-action="Index" class="btn btn-success float-end">بازگشت</a>

</div>

<div class="row g-3">
    <div class="col-md-12 col-lg-12 order-md-last">
        <form asp-action="Create" method="post">
            <div class="col-sm-12">
                <label asp-for="Fullname" class="form-label"> </label>
                <input asp-for="Fullname" class="form-control" />
            </div>
            <div class="col-sm-12">
                <label asp-for="Mobile" class="form-label"> </label>
                <input asp-for="Mobile" class="form-control" />
            </div>
            <div class="col-sm-12">
                <label asp-for="Password" class="form-label"> </label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div class="col-sm-12">
                <label asp-for="RoleId" class="form-label"> </label>
                <select asp-for="RoleId" class="form-control" asp-items="@ViewBag.Roles"></select>
            </div>
            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit"> ذخیره</button>
        </form>

    </div>


</div>