@model News
@{
    ViewData["Title"] = $" ویرایش خبر {Model.Name}";
}

<div class="py-5 text-center">
    <h2>
        @ViewData["Title"]
    </h2>
    <a asp-action="Index" class="btn btn-success float-end">بازگشت</a>

</div>

<div class="row g-3">
    <div class="col-md-12 col-lg-12 order-md-last">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="text" hidden asp-for="Id">
            <input type="text" hidden asp-for="CreateDate">
            <input type="text" hidden asp-for="Image">

            <div class="col-sm-12">
                <label asp-for="Name" class="form-label"> </label>
                <input asp-for="Name" class="form-control">
            </div>
            <div class="col-sm-12">
                <label asp-for="Text" class="form-label"> </label>
                <textarea asp-for="Text" class="form-control"></textarea>
            </div>
         
            <div class="col-sm-12">
                <label asp-for="CategoryId" class="form-label"> </label>
                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories"></select>
            </div>
            <div class="col-sm-12">
                @if (Model.Image != "")
                {
                    <img src="@Model.Image" height="150">
                }
                <label class="form-label"> تصویر خبر</label>
                <input type="file" name="file" class="form-control">
            </div>

            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit"> ذخیره</button>
        </form>

    </div>


</div>