@model IEnumerable<Category>
@{
    ViewData["Title"] = "دسته بندی خبر";
}
<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class=" pb-2 mb-0"> @ViewData["Title"]</h6>
    <a asp-action="Create" class="btn btn-success float-end">جدید</a>
    <table class="table">
        <thead>
            <th>
                نام دسته بندی
            </th>
            <th>
                عملیات
            </th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <a asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger">حذف</a>
                        <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary">ویرایش</a>

                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
